#activity {
	background-color: #ececec;
}

.a-banner {
	margin: auto;
	width: 100vw;
	height: 489px;
	height: 65.3vw;
	margin-bottom: 40px;
}

.a-nav {
	width: ;
	margin: auto;
}

.a-nav-count {
	margin: auto;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}

.a-nav-count-title {
	font-size: 22px;
	color: #262626;
	margin-bottom: 24px;
}

.a-nav-count-title:before,
.a-nav-count-title:after {
	content: '';
	border-top: 2px solid #272727;
	display: block;
	width: 120px;
	height: 18px;
	position: absolute;
	top: 8px;
}

.a-nav-count-title:before {
	border-left: 2px solid #272727;
	left: 90px;
}

.a-nav-count-title:after {
	border-right: 2px solid #272727;
	right: 90px;
}

#a-nav-count-time {
	font-size: 35px;
	color: #262626;
}

#a-nav-count-time span {
	width: 40px;
	height: 60px;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	display: inline-block;
	color: #fff;
	background-color: #252324;
	margin: 0 10px;
	position: relative;
}

#a-nav-count-time span:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	top: 49%;
	left: 0;
	background-color: #ececec;
}

#a-nav-count-time span:last-of-type {
	background-color: #b63a1e;
}

#a-nav-count-time .a-o {
	width: 80px;
	letter-spacing: 0.3em;
	text-align: right;
}

#a-nav-count-time .a-o:before {
	content: '';
	position: absolute;
	display: block;
	width: 6px;
	height: 100%;
	top: 0;
	left: 45%;
	background-color: #ececec;
}


/*#a-nav-count-time .a-s{
	background-color: #b63a1e;
}*/

.a-nav-title-box {
	background-color: #2a2b2e;
	background: linear-gradient(90deg, #11161b, #434142);
	position: relative;
	color: #ffffff;
	letter-spacing: 0.1em;
	text-align: center;
}

.a-nav-title {
	font-size: 40px;
	position: relative;
	padding: 20px 0 30px;
}

.a-nav-title:before,
.a-nav-title:after {
	content: '';
	position: absolute;
	top: 34px;
	display: inline-block;
	width: 150px;
	height: 26px;
	background-color: #e08d9d;
	background: linear-gradient(#e08d9d, #e08d9d 20%, transparent 20%, transparent 40%, #e08d9d 40%, #e08d9d 60%, transparent 60%, transparent 80%, #e08d9d 80%, #e08d9d 100%);
}

.a-nav-title:before {
	left: 0;
}

.a-nav-title:after {
	right: 0;
}

.a-nav-titles {
	font-size: 22px;
	padding-bottom: 26px;
	width: 710px;
	margin: auto;
}
.a-nav-titles:before,.a-nav-titles:after{
	content: 'X';
}
.a-nav-titles:before{
	float: left;
}
.a-nav-titles:after{
	float: right;
}
.a-nav-title-box:after {
	position: absolute;
	content: '';
	bottom: -14px;
	left: 50%;
	margin-left: -7.5px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #2a2b2e;
}

.a-nav-ul {
	height: 390px;
	width: 750px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.a-nav-ul-title {
	font-size: 26px;
	line-height: 50px;
	width: 120px;
	height: 120px;
	position: absolute;
	right: 26px;
	top: 26px;
	z-index: 1;
}

.a-nav-ul-title a {
	z-index: 1;
	color: #ffffff;
	margin: 10px auto 0;
	width: 60px;
	display: block;
}

.a-nav-ul-title:before {
	display: block;
	z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #cb1537;
	transform: rotate(45deg);
	position: absolute;
}

.a-nav-img {
	position: absolute;
}

.a-nav-img1 {
	left: 13px;
	top: 105px;
}

.a-nav-img2 {
	left: 145px;
	top: 34px;
}

.a-nav-img3 {
	left: 219px;
	top: 115px;
}

.a-nav-img4 {
	left: 287px;
	top: 185px;
}

.a-nav-img5 {
	left: 385px;
	top: 38px;
}

.a-part1,
.a-part2,
.a-part3,
.a-part4 {
	background-color: #fff;
	width: 710px;
	margin: auto;
	margin-bottom: 15px;
	padding-top: 30px;
	font-size: 0;
}

.a-p-title {
	font-size: 30px;
	color: #FFFFFF;
	line-height: 46px;
	background-color: #343638;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
}

.a-p-title:after {
	content: '';
	position: absolute;
	display: block;
}

.a-part1 .a-p-title,
.a-part2 .a-p-title {
	width: 315px;
	margin-left: -16px;
	padding-left: 22px;
}

.a-part3 .a-p-title,
.a-part4 .a-p-title {
	width: 391px;
	margin-right: -16px;
	padding-right: 22px;
	text-align: right;
}

.a-part1 .a-p-title:after,
.a-part2 .a-p-title:after {
	left: 0;
	bottom: -11px;
	border-bottom: 11px solid transparent;
	border-right: 15px solid #000000;
}

.a-part3 .a-p-title:after,
.a-part4 .a-p-title:after {
	right: 0;
	bottom: -10px;
	border-bottom: 11px solid transparent;
	border-left: 15px solid #000000;
}

.a-p-title-e {
	display: inline-block;
	box-sizing: border-box;
	font-size: 28px;
	line-height: 46px;
	color: #11161b;
	text-align: center;
	position: relative;
}

.a-part1 .a-p-title-e,
.a-part2 .a-p-title-e {
	width: 411px;
	right: -16px;
}

.a-part3 .a-p-title-e,
.a-part4 .a-p-title-e {
	width: 335px;
}

.a-p-title-e:after {
	content: '';
	display: inline-block;
	width: 105px;
	height: 26px;
	margin-top: 10px;
	background-color: #e08d9d;
	background: linear-gradient(#e08d9d, #e08d9d 20%, transparent 20%, transparent 40%, #e08d9d 40%, #e08d9d 60%, transparent 60%, transparent 80%, #e08d9d 80%, #e08d9d 100%);
}

.a-part1 .a-p-title-e:after,
.a-part2 .a-p-title-e:after {
	float: right;
}

.a-part3 .a-p-title-e:after,
.a-part4 .a-p-title-e:after {
	float: left;
}

.a-part1 .a-p-img,
.a-part2 .a-p-img {
	margin-left: 15px;
}

.a-p-img {
	box-shadow: 20px 25px 0 -10px #151716;
	margin-bottom: 15px;
	display: inline-block;
}

.a-p-ul {
	padding: 0 25px;
	padding-bottom: 15px;
	width: 680px;
	vertical-align: top;
	font-size: 0;
	display: inline-block;
}

.a-p-li {
	display: inline-block;
	width: 340px;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 8px;
	margin-bottom: 10px;
	position: relative;
}

.a-p-li.Sold:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '已售';
	text-align: center;
	color: #fff;
	font-size: 50px;
	line-height: 250px;
	width: 100%;
	height: 100%;
	background-color: #333;
	background-color: rgba(100, 100, 100, .5);
	border-radius: 5%;
}

.a-p-li-img {
	width: 220px;
	height: 220px;
	margin: auto;
	margin-bottom: 10px;
	display: block;
}

.a-p-li-title {
	border-top: 2px solid #010101;
	padding-top: 12px;
	font-size: 24px;
	line-height: 36px;
	color: #11161b;
	height: 84px;
	box-sizing: border-box;
	overflow: hidden;
}

.a-p-li-brand {
	color: #9b9b9b;
	margin-right: 1em;
}

.a-p-li-price {
	font-size: 26px;
	color: #cb1537;
}

.a-p-li-price:before {
	content: '11.11';
	display: inline-block;
	font-size: 22px;
	color: #ffffff;
	background-color: #cb1537;
	line-height: 30px;
	padding: 0 8px;
	vertical-align: middle;
}

.a-part4 {
	margin-bottom: 50px;
}
.a-part3 .a-p-img{
	box-shadow: -20px 25px 0 -10px #151716;	
}
.a-part3 .a-p-ul {
	margin-top: 20px;
	width: 323px;
	position: relative;
}

.a-part3 .a-p-li:last-of-type {
	position: absolute;
	left: -88%;
    bottom: 15px;
}

.a-part4 .a-p-ul {
	margin-top: 20px;
	width: 323px;
	position: relative;
}

.a-part4 .a-p-li:last-of-type {
	position: absolute;
	right: -88%;
    bottom: 15px;
}

.backtop {
	display: block;
	margin: auto;
	width: 125px;
	height: 40px;
	line-height: 40px;
	color: #ececec;
	text-align: center;
	background-color: #cb1537;
	border-radius: 50%/105% 105%0 0 ;
}
.backtop:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 9px solid #ececec;
	position: relative;
	top: -2px;
	left: 3px;
}