#activity {
	font-size: 0;
}

.a-banner {
display: block;
	height: 433px;
	margin: auto;
}

.a-part1,
.a-part2,
.a-part3,
.a-part4 {
	width: 100%;
}

.a-part1 {
	background: url(../img/a-p1.jpg) no-repeat center;
	height: 1438px;
}

.a-part2 {
	background: url(../img/a-p2.jpg) no-repeat center;
	height: 1142px;
}

.a-part3 {
	background: url(../img/a-p3.jpg) no-repeat center;
	height: 1378px;
}

.a-part4 {
	background: url(../img/a-p4.jpg) no-repeat center;
	height: 1180px;
}

.a-p-ul {
	vertical-align: top;
	font-size: 0;
	width: 700px;
	height: 1032px;
	margin: auto;
}

.a-part1 .a-p-ul {
	padding-top: 173px;
}

.a-part2 .a-p-ul {
	padding-top: 10px;
}

.a-part3 .a-p-ul {
	padding-top: 127px;
}

.a-part4 .a-p-ul {
	padding-top: 15px;
}

.a-p-li {
	display: inline-block;
	width: 50%;
	height: 33%;
	box-sizing: border-box;
	position: relative;
	padding-top: 40px;
	transition: .5s;
}


.a-p-li.Sold:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '已售';
	text-align: center;
	color: #fff;
	font-size: 50px;
	line-height: 350px;
	width: 100%;
	height: 100%;
	background-color: #333;
	background-color: rgba(100, 100, 100, .5);
}

.a-p-li-img {
	width: 220px;
	height: 220px;
	margin: auto;
	margin-bottom: 20px;
	display: block;
}

.a-p-li-title {
	height: 25px;
	font-size: 21px;
	line-height: 25px;
	text-align: center;
	color: #b31c21;
	overflow: hidden;
	margin-bottom: 8px;
}

.a-p-li-brand {}

.a-p-li-price {
	font-size:21px;
	color: #262626;
	text-align: center;
}

.a-p-li-price:before {
	content: 'RMB:￥';
	font-size: 12px;
	margin-right: 2em;
}
