#register {
	min-height: 100vh;
}

#register .viewport {
	position: relative;
	font-family: "微软雅黑";
	width: 750px;
	margin: auto;
}

nav {
	background: url(../img/rgBanner.jpg) no-repeat center;
	height: 283px;
	position: relative;
	margin: auto;
}

.back {
	background-image: url(../img/back.png);
	width: 21px;
	height: 38px;
	position: absolute;
	top: 63px;
	left: 22px;
}

.rgNavUl {
	padding-top: 202px;
	width: 520px;
	margin: auto;
	line-height: 80px;
	font-size: 32px;
	color: #766d5e;
}

.rgNavUlLi {
	display: inline-block;
}

.rgNavUlLi.Act {
	color: #ead9c6;
	position: relative;
}

.rgNavUlLi.Act::after {
	position: absolute;
	content: '';
	width: 85px;
	height: 4px;
	background-color: #cca92d;
	box-shadow: 0 0 25px #cca92d;
	bottom: 0;
	left: 20px;
}

.registerMain {
	background-color: #45413f;
	background: -ms-linear-gradient(-120deg, #221f1d, #45413f);
	background: -moz-linear-gradient(-120deg, #221f1d, #45413f);
	background: -webkit-linear-gradient(-120deg, #221f1d, #45413f);
	background: -o-linear-gradient(-120deg, #221f1d, #45413f);
	background: linear-gradient(-120deg, #221f1d, #45413f);
	box-sizing: border-box;
	padding-top: 120px;
	padding-bottom: 150px;
	height: calc(100vh - 283px);
}

.MainUl {
	width: 520px;
	margin: auto;
	padding: 0px 0 105px 0;
}

#register .MainUl {
	padding-bottom: 28px;
}

.MainUlLi {
	/*border-bottom: 1px solid #766d5e;*/
	vertical-align: middle;
	font-size: 26px;
	color: #aca7a1;
	line-height: 86px;
	height: 86px;
	position: relative;
}

.MainUlLi::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #766d5e;
}

.MainUlLis::after {
	width: 260px;
}

.MainUlLi.Act::after {
	box-shadow: 0 0 10px rgba(255, 214, 67, 0.74);
	transition: .5s;
}

.MainUlLiInput {
	background-color: transparent;
	font-size: 26px;
	width: 360px;
	text-align: center;
	margin-left: 50px;
	color: #ead9c6;
}

.MainUlLiInputs {
	width: 260px;
	display: inline-block;
	margin-left: 0;
	position: relative;
}

.registerMain::-webkit-input-placeholder {
	color: #aca7a1;
}

.registerMain::-moz-placeholder {
	color: #aca7a1;
	opacity: 1!important;
}

.registerMain:-ms-input-placeholder {
	color: #aca7a1;
}

.MainUlLiUnPic {
	display: inline-block;
	position: relative;
	width: 26px;
	height: 20px;
	background-image: url(../img/username.png);
	margin-left: 1px;
}

.MainUlLi.Act .MainUlLiUnPic {
	background-image: url(../img/usernameing.png);
}

.MainUlLiUnPic::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 30px;
	background-color: #766d5e;
	bottom: -6px;
	right: -48px;
}

.MainUlLiPwPic {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 24px;
	background-image: url(../img/password.png);
	margin-left: 1px;
}

.MainUlLi.Act .MainUlLiPwPic {
	background-image: url(../img/passwording.png);
}

.MainUlLiPwPic::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 30px;
	background-color: #766d5e;
	bottom: -6px;
	right: -48px;
}

.MainUlLiPhPic {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 32px;
	background-image: url(../img/phone.png);
	margin-left: 1px;
}

.MainUlLi.Act .MainUlLiPhPic {
	background-image: url(../img/phoneing.png);
}

.MainUlLiPhPic::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 30px;
	background-color: #766d5e;
	bottom: -6px;
	right: -48px;
}

.MainUlLiPwNPic {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 24px;
	background-image: url(../img/passwordN.png);
	margin-left: 1px;
}

.MainUlLi.Act .MainUlLiPwNPic {
	background-image: url(../img/passwordNNing.png);
}

.MainUlLiPwNPic::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 30px;
	background-color: #766d5e;
	bottom: -6px;
	right: -48px;
}

.MainUlLiPwNNPic {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 22px;
	background-image: url(../img/passwordNN.png);
	margin-left: 1px;
}

.MainUlLi.Act .MainUlLiPwNNPic {
	background-image: url(../img/passwordNNing.png);
}

.MainUlLiPwNNPic::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 30px;
	background-color: #766d5e;
	bottom: -6px;
	right: -48px;
}

.MainBtn {
	width: 520px;
	line-height: 85px;
	background-color: #45403d;
	text-align: center;
	color: #766d5e;
	font-size: 26px;
	display: block;
	margin: auto;
	margin-bottom: 50px;
	letter-spacing: .3em;
}

.MainBtn.Act {
	background-color: #cca92d;
	color: #333333;
}

.rgAgreeBox {
	width: 520px;
	margin: auto;
	margin-bottom: 50px;
}

.rgAgree {
	position: absolute;
	left: -10000px;
}

.rgAgrees {
	display: inline-block;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #766d5e;
	vertical-align: bottom;
}

.rgAgree:checked+.rgAgrees {
	background: url(../img/ok.png) no-repeat center;
}

.rgAgreeP {
	display: inline-block;
	font-size: 26px;
	color: #766d5e;
	padding-left: 20px;
}

.rgAgreePA {
	color: #ead9c6;
}

.rgAgreement {
	display: none;
	transition: .5s;
	box-sizing: border-box;
	width: 640px;
	height: 1000px;
	position: fixed;
	top: 170px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	padding: 50px 40px;
	border-radius: 10px;
	z-index: 0;
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.46);
}

.rgAClose {
	position: absolute;
	top: -25px;
	right: -20px;
	display: block;
	width: 65px;
	height: 65px;
	background-color: #db2b2b;
	border-radius: 50%;
	box-shadow: 0 0 5px #db2b2b;
	font-size: 70px;
	color: #fff;
	line-height: 56px;
	text-align: center;
}

.rgPre {
	white-space: pre-wrap;
	overflow: scroll;
	color: #333;
	font-size: 26px;
	line-height: 50px;
	height: 900px;
}

.vCode {
	width: 230px;
	height: 56px;
	margin-top: 20px;
	font-size: 18px;
}

#register .getvCode {
	width: 230px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	color: #333333;
	font-size: 26px;
	background-color: #cca92d;
	margin-top: 20px;
	display: inline-block;
}

.errorBox {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	background-color: rgba(256, 256, 256, 0.35);
	padding: 60px 80px;
	border-radius: 10px;
}

.errorPic {
	display: block;
	background-image: url(../img/error.png);
	width: 50px;
	height: 50px;
	margin: auto;
	margin-bottom: 20px;
}

.errorP {
	text-align: center;
	font-size: 26px;
	color: #333333;
}