.activity * {
	font-family: "微软雅黑";
}

.activity .full_screen {
	height: 965px;
	background: url(../img/banner.jpg) no-repeat center;
}

.lift {
	position: absolute;
	top: 965px;
	width: 100%;
	height: 79px;
	margin: 0 auto;
	background: url(../img/lift.jpg) no-repeat center;
	text-align: center;
}

.fixed {
	position: fixed;
	z-index: 50;
	top: 0;
}

.lift ul {
	left: 340px;
	display: block;
	width: 1200px;
	margin: 0 auto;
}

.lift li {
	opacity: 0.7;
	filter: alpha(opacity=70);
		float: left;
}

.lift li a {
	font-size: 24px;
	color: #ff2d5b;
	line-height: 48px;
	width: 238px;
	height: 56px;
	margin: 10px 1px;
	background-color: #fff;
}

.opa {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.activity .activitytitle {
	width: 1200px;
	margin: auto;
	position: relative;
}

.activity .atext {
	position: absolute;
	top: 0;
	left: 463px;
	-moz-animation: atext 1s ease-out forwards;
	-o-animation: atext 1s ease-out forwards;
	-webkit-animation: atext 1s ease-out forwards;
}

@keyframes atext {
	0% {
		transform: translate(100px, 0);
		-webkit-transform: translate(100px, 0);
		-o-transform: translate(100px, 0);
		-moz-transform: translate(100px, 0);
		opacity: 0;
		filter: alpha(opacity=0);
	}
	100% {
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		opacity: 1.0;
		filter: alpha(opacity=100);
	}
}

.activity .alogo {
	position: absolute;
	top: 121px;
	left: 50%;
	margin-left: -230px;
	animation: alogo 1s ease-out forwards;
	-moz-animation: alogo 1s ease-out forwards;
	-o-animation: alogo 1s ease-out forwards;
	-webkit-animation: alogo 1s ease-out forwards;
}

@keyframes alogo {
	0% {
		transform: translate(-100px, 0);
		-webkit-transform: translate(-100px, 0);
		-o-transform: translate(-100px, 0);
		-moz-transform: translate(-100px, 0);
		opacity: 0;
		filter: alpha(opacity=0);
	}
	100% {
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		opacity: 1.0;
		filter: alpha(opacity=100);
	}
}

.activity .aTop {
	background: url(../img/bannerCould.png) no-repeat center;
	width: 100%;
	height: 683px;
	position: absolute;
	top: 184px;
	left: 0;
	z-index: 4;
	margin: 0 auto;
}

.activity .aBottom {
	background: url(../img/bannerFower.png) no-repeat center;
	width: 100%;
	height: 262px;
	position: absolute;
	top: 375px;
	left: 0;
	margin: 0 auto;
	z-index: 2;
}

.activity .aPhoto {
	position: absolute;
	top: 160px;
	left: 1300px;
	margin-left: -360px;
	z-index: 1;
	animation: aPhoto 1s ease-out forwards;
	-moz-animation: aPhoto 1s ease-out forwards;
	-o-animation: aPhoto 1s ease-out forwards;
	-webkit-animation: aPhoto 1s ease-out forwards;
	transform-origin: 20% 40%;
	-ms-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
}

@keyframes aPhoto {
	0% {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		opacity: 0;
		filter: alpha(opacity=0);
	}
	100% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		opacity: 1.0;
		filter: alpha(opacity=100);
	}
}

.activity .agoods {
	position: absolute;
	top: 485px;
	left: 194px;
	z-index: 3;
	-moz-animation: agoods 2s ease-out forwards;
	-o-animation: agoods 2s ease-out forwards;
	-webkit-animation: agoods 2s ease-out forwards;
}

@keyframes agoods {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
	}
	100% {
		opacity: 1.0;
		filter: alpha(opacity=100);
	}
}

.activitytitle ul {
	position: absolute;
	top: 733px;
	z-index: 5;
}

.activitytitle ul li {
	float: left;
	display: inline-block;
	padding-left: 58px;
	padding-right: 58px;
}

.activityview .a1box,
.activityview .a2box,
.activityview .a3box,
.activityview .a4box,
.activityview .a5box {
	width: 1200px;
	margin: auto;
	position: relative;
}

.activityview .a1 {
	background: url(../img/bg1.jpg) no-repeat center;
	height: 923px;
}

.activityview .a1price {
	font-size: 14px;
	color: #333;
}

.activityview .a1price em {
	font-size: 24px;
}

.activityview .a1price i {
	font-size: 18px;
	font-style: normal;
}

.activityview .a1price span {
	margin-left: 5px;
	width: 23px;
	height: 23px;
	background: url(../img/i1.png) no-repeat;
	display: inline-block;
}

.activityview .a2 {
	background: url(../img/bg2.jpg) no-repeat center;
	height: 749px;
}

.activityview .a3 {
	background: url(../img/bg3.jpg) no-repeat center;
	height: 759px;
}

.activityview .a4 {
	background: url(../img/bg4.jpg) no-repeat center;
	height: 764px;
}

.activityview .a5 {
	background: url(../img/bg5.jpg) no-repeat center;
	height: 804px;
}

.activityview .oh {
	position: absolute;
	width: 1200px;
	padding-left: 24px;
}

.activityview .a1 ul {
	top: 391px;
}

.activityview .a2 ul {
	top: 222px;
}

.activityview .a3 ul {
	top: 227px;
}

.activityview .a4 ul {
	top: 223px;
}

.activityview .a5 ul {
	top: 212px;
}

.a1box li,
.a2box li,
.a3box li,
.a4box li,
.a5box li {
	text-align: center;
	width: 370px;
	float: left;
	padding: 0 6px;
}

.activityview h3 {
	text-align: center;
	font-size: 22px;
	line-height: 48px;
	font-weight: normal;
	color: #333333;
}

.activityview p {
	width: 222px;
	text-align: center;
	font-size: 12px;
	line-height: 31px;
	color: #000;
	margin: 0 auto;
	background: url(../img/aPriceBg.png) no-repeat;
}

.activityview p em {
	font-size: 16px;
	line-height: 31px;
}