#app *,
#app *:before,
#app *:after {
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

#app {
	background: #222423 url(../img/a-bg.jpg) no-repeat center;
	text-align: center;
}

header img {
	margin-top: 240px;
	margin-bottom: 70px;
}

header p {
	color: #9fa0a0;
	font-size: 36px;
	line-height: 1;
	position: relative;
	margin-bottom: 200px;
}

header p:after {
	content: '';
	position: absolute;
	width: 138px;
	height: 1px;
	background-color: #9fa0a0;
	top: -30px;
	left: 50%;
	margin-left: -69px;
}

ul a {
	margin: auto;
	display: block;
	width: 380px;
	height: 120px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.09);
	line-height: 120px;
}

ul img {
	vertical-align: middle;
	margin-top: -15px;
}

ul span {
	font-size: 36px;
	color: #fff;
	display: inline-block;
	width: 244px;
}

ul li {
	margin-bottom: 80px;
}

  footer p {
    position: fixed;
    bottom: 70px;
    width: 100%;
    font-size: 36px;
    color: #c9a60e;
  }