#activity {
	font-size: 0;
	position: relative;
	background-color: #b42525;
}

#activity * {
	box-sizing: border-box;
}

.a-banner {
	height: 832px;
	margin: auto;
	background: #fdebcc url(../img/a-banner.jpg) no-repeat center;
	position: relative;
	overflow: hidden;
}

.a-banner:after {
	content: url(../img/a-even-bt.png);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -960px;
}

.a-title {
	display: block;
	margin: auto;
	padding-top: 30px;
	-webkit-animation: alogo 1.5s ease-out forwards;
	-moz-animation: alogo 1.5s ease-out forwards;
	-o-animation: alogo 1.5s ease-out forwards;
	animation: alogo 1.5s ease-out forwards;
}

@keyframes alogo {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
	78% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	83% {
		-webkit-transform: scale(.85);
		-moz-transform: scale(.85);
		-o-transform: scale(.85);
		transform: scale(.85);
	}
	88% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
	93% {
		-webkit-transform: scale(.95);
		-moz-transform: scale(.95);
		-o-transform: scale(.95);
		transform: scale(.95);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

.a-part1,
.a-part2,
.a-part3,
.a-part4 {
	position: relative;
	overflow: hidden;
	padding-bottom: 100px;
}

.a-p-odd {
	/*height: 1463px;*/
	background-color: #920012;
	padding-top: 60px;
	z-index: 0;
}

.a-p-odd:before {
	content: url(../img/a-odd-s.png);
	position: absolute;
	top: 260px;
	left: 5%;
	z-index: -1;
}

.a-p-odd:after {
	content: url(../img/a-odd-s.png);
	position: absolute;
	top: 590px;
	right: -5%;
	z-index: -1;
}

.a-p-odd .a-p-ul {
	width: 1348px;
	height: 1288px;
	background: url(../img/a-odd-bg.png) right no-repeat;
	padding: 0 170px;
}

.a-p-odd .a-p-ul:before {
	content: url(../img/a-odd-bt.png);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -960px;
}

.a-p-even {
	/*height: 1209px;*/
	background-color: #fdebcc;
	padding-top: 37px;
}

.a-p-even .a-p-ul {
	width: 1356px;
	height: 1031px;
	background: url(../img/a-even-bg.png) center no-repeat;
	padding: 0 190px;
}

.a-part2 .a-p-title:before {
	content: url(../img/a-even-bt.png);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -960px;
}

.a-p-even:before {
	content: url(../img/a-even-left.png);
	position: absolute;
	bottom: 150px;
	left: 0;
}

.a-p-even:after {
	content: url(../img/a-even-right.png);
	position: absolute;
	top: 370px;
	right: 0;
}

.a-p-even .a-p-ul:before {
	content: url(../img/a-even-bts.png);
	position: absolute;
	bottom: 0;
	right: 0;
}

.a-p-ul {
	margin: auto;
	/*padding-top: 150px;*/
}

.a-p-title {
	font-size: 36px;
	width: 200px;
	margin: auto;
	line-height: 56px;
	text-align: center;
	color: #fdebcc;
	letter-spacing: 0.3em;
}

.a-p-odd .a-p-title {
	padding-top: 78px;
	margin-bottom: 100px;
}

.a-p-even .a-p-title {
	padding-top: 50px;
	margin-bottom: 60px;
}

.a-p-li {
	position: relative;
	display: inline-block;
	transition: .5s;
	width: 33.3%;
	height: 400px;
	text-align: center;
	color: #ac0007;
	padding: 0 5px 0 15px;
	vertical-align: top;
}

.a-p-li.Sold:after {
	font-size: 50px;
	line-height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	content: '已售';
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background-color: #333;
	background-color: rgba(33, 33, 33, .5);
	box-shadow: 0 0 10px #cac3c3;
	text-shadow: 0 0 5px #fff;
}

.a-p-li-img {
	display: block;
	margin: auto;
	width: 280px;
	height: 280px;
	margin-bottom: 20px;
}

.a-p-li-title {
	font-size: 24px;
	color: #c9292f;
	height: 36px;
	font-weight: 400;
	overflow: hidden;
	padding: 0 15px;
}

.a-p-li-price {
	font-size: 24px;
	color: #c9292f;
	position: relative;
	font-weight: bolder;
	overflow: hidden;
}

.a-p-li-price:before {
	display: inline-block;
	font-size: 18px;
	color: #c9292f;
	width: 80px;
	content: 'RMB:';
}